<!-- Start Footer -->
<footer class="footer-box ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="full ">
                    <div class="heading_main text_align_center white_fonts margin-bottom_30 ">
                        <h2>FIREXPLORE</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts ">
                <div class="full footer_blog f_icon_1 ">
                    <p>Address<br><small>151 Ho Ba Kien Street,<br>Ward 15, District 10,<br>Ho Chi Minh City, Vietnam</small></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts ">
                <div class="full footer_blog f_icon_2 ">
                    <p>Phone<br><small>+84 126 922 0162<br>+84 905 333 333<br>Monday - Sunday<br>08:00 am - 05:00 pm</small></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts ">
                <div class="full footer_blog f_icon_3 ">
                    <p>Email<br><small>support@sofbox.com<br>24 X 7 online support</small></p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 white_fonts ">
                <div class="full footer_blog_last ">
                    <p>Social eee</p>
                    <p>
                        <ul>
                            <li><a href="# "><i class="fa fa-facebook-f "></i></a></li>
                            <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                            <li><a href="# "><i class="fa fa-google-plus "></i></a></li>
                            <li><a href="# "><i class="fa fa-linkedin "></i></a></li>
                            <li><a href="# "><i class="fa fa-youtube "></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- End Footer -->