{% load static %}

<body id="about" class="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- LOADER -->

    <!-- END LOADER -->
    <div class="wrapper">
        <nav id="sidebar">
            <div class="menu_section">
                <ul>
                    <li><a href="{% url 'home_view' %}">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="#anchor-name">Contact-Us</a></li>
                </ul>
            </div>
        </nav>
        <div id="content">
            <!-- Start header -->
            <header class="top-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="heading_main text_align_center margin-bottom_30 ">
                                <h2><br>FIREEXPLORE</h2>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn"><img src="{% static 'images/menu_icon.png' %} "></button>

                        </div>
                    </div>
                </div>
            </header>