<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Arama Türleri</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'postaview' %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-solid fa-signs-post fa-2xl"></i>

                        </div>
                        <h6>Posta Kodu Arama</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'phonesearch_view' %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-sharp fa-solid fa-phone-volume fa-2xl"></i> </div>
                        <h6>Ters Arama</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'eczaneview' %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-solid fa-pills fa-2xl"></i> </div>
                        <h6>Eczane Arama</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="{% url 'countrykonum_view' %}">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-solid fa-earth-americas fa-2xl"></i> </div>
                        <h6>Konuma Göre Arama</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-solid fa-code-branch fa-2xl"></i> </div>
                        <h6>Alan Kodu Arama</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-regular fa-hospital fa-2xl"></i> </div>
                        <h6>Acil Durum Araması</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <i class="fa-solid fa-oil-well fa-2xl"></i> </div>
                        <h6>Akaryakıt Araması</h6>
                        <span>123 Properties</span>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- Category End -->