<!-- section -->
<div class="container">

    <div class="row">
        <br>
        <div class="work_blog margin-top_30">

            <a href=""><i class="fa-solid fa-signs-post fa-2xl"></i>Posta Kodu Arama&nbsp&nbsp&nbsp</a>
            <br>
            <br>
            <a href=""><i class="fa-sharp fa-solid fa-phone-volume fa-2xl"></i>Ters Arama&nbsp&nbsp&nbsp </a>



        </div>
        <div class="work_blog margin-top_30">

            <a href=""><i class="fa-solid fa-pills fa-2xl"></i>Eczane Arama&nbsp&nbsp&nbsp</a>
            <br>
            <br>
            <a href=""><i class="fa-solid fa-earth-americas fa-2xl"></i>Ülke Konumuna Göre arama&nbsp&nbsp&nbsp </a>


        </div>
        <div margin-left:50px; class="work_blog margin-top_30">

            <a href=""> <i class="fa-solid fa-code-branch fa-2xl"></i> Alan Kodu Arama&nbsp&nbsp&nbsp</a>
            <br>
            <br>
            <a href=""><i class="fa-regular fa-hospital fa-2xl"></i> Acil Durum Araması&nbsp&nbsp&nbsp </a>



        </div>
        <div margin-left:50px; class="work_blog margin-top_30">

            <a href=""><i class="fa-solid fa-oil-well fa-2xl"></i> Akaryatıt Arama&nbsp&nbsp&nbsp</a>
            <br>
            <br>



        </div>
    </div>




</div>
</div>
<!-- end section -->