{% load static %} {% load thumbnail %}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>Firexplore - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style3.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

{% for msg in messages %}
<div class="alert alert-success" role="alert">
    {{ msg }}
</div>
{% endfor %} {% block x %} {% include 'page/navbar.html'%} {% endblock %}
<!-- section -->
<div class="section dark_blue_layout white_fonts layout_padding2  ">


</div>
<div class="section about_section layout_padding dash_bg">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <fieldset>

                    <form class="news_submit_form ">
                        <fieldset>
                            <div class="field ">
                                <input type="text" placeholder="Eczane Adı Girin  " name="sorgu_eczane" required />




                            </div>
                            <div class="field ">
                                <button>Ara</button>


                            </div>
                        </fieldset>
                    </form>
                </fieldset>
            </div>
        </div>


        <div class="row">


            <div class="blog-wrapper">

                {% for todo in todos %}

                <div class="blog-card">
                    <div class="card-img">
                        <a href="{% url 'post_detail' id=todo.pk%}"><img src="{{ todo.avatar|thumbnail_url:'thumbnail' }}"></a>
                        <h1>{{todo.title}}</h1>
                    </div>
                    <div class="card-details"><span><i class="fa fa-calendar"></i>AUG 4</span><span><i class="fa-solid fa-eye"></i>102</span></div>
                    <div class="card-text">
                        <a href="{% url 'post_detail' id=todo.pk%}">
                            <p>{{todo.website}}</p>
                        </a>
                        <a href="{% url 'post_detail' id=todo.pk%}">
                            <p>{{todo.sehir}}\ {{todo.ulke}}</p>
                        </a>
                        <a href="{% url 'post_detail' id=todo.pk%}">
                            <p>{{todo.category}}</p>
                        </a>



                    </div>
                    <a href="{% url 'post_detail' id=todo.pk%}" class="read-more">İncele</a>
                </div>

                {% empty %}
                <p>Hiç bir yer bulunamadı</p>
                {% endfor %}




            </div>


        </div>
        <h3>{% include 'page/pagination.html' with page=todos %}</h3>

        <br>
        <br>



    </div>





    <!-- end section -->

    <!-- section -->

    <div class="section about_section layout_padding padding_top_0  ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">


                    <div class="full margin-top_30 ">

                    </div>

                </div>

            </div>


        </div>

    </div>
    {% include 'page/yaziler.html'%}

    <!-- end section -->

    <!-- section -->

    <div class="section dark_blue_layout white_fonts layout_padding2  ">


    </div>
</div>
<br>
<br>
</div>




<!-- end section -->


<!-- end section -->

<!-- end section -->
{% block content%} {% include 'page/footer.html'%} {% endblock%}

<!-- ALL JS FILES -->
<script src="{% static 'js/jquery.min.js'%} "></script>
<script src="{% static 'js/popper.min.js'%} "></script>
<script src="{% static 'js/bootstrap.min.js'%} "></script>
<!-- ALL PLUGINS -->
<script src="{% static 'js/jquery.magnific-popup.min.js'%} "></script>
<script src="{% static 'js/jquery.pogo-slider.min.js'%} "></script>
<script src="{% static 'js/slider-index.js'%} "></script>
<script src="{% static 'js/smoothscroll.js'%} "></script>
<script src="{% static 'js/form-validator.min.js'%} "></script>
<script src="{% static 'js/contact-form-script.js'%} "></script>
<script src="{% static 'js/isotope.min.js'%} "></script>
<script src="{% static 'js/images-loded.min.js'%} "></script>
<script src="{% static 'js/custom.js'%} "></script>

<script src="https://kit.fontawesome.com/2ded6a6094.js" crossorigin="anonymous"></script>
<!-- End Google Map -->
<script>
    $(document).ready(function() {
        $('#sidebarCollapse').on('click', function() {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap "></script>
<!-- end google map js -->
</body>

</html>